@import '~src/sass/variables';

:host {
  display: block;
  width: 100%;
}

.choose-kind {
  display: flex;
  width: 100%;
  text-align: center;
  li {
    flex: 1 1 50%;
    a {
      display: block;
      text-decoration: none;
      color: $body-color;
      span {
        display: block;
        font-size: 150%;
      }

      &,
      * {
        transition: all 0.15s ease-out;
      }
    }
    i {
      font-size: 500%;
      @include media-breakpoint-up(sm) {
        font-size: 1250%;
      }
    }

    &:hover {
      a {
        transform-origin: left;
        color: $color-primary;
        span {
          font-size: 250%;
          font-weight: bold;
        }
        i {
          font-size: 1000%;
        }
      }

      &:first-child {
        a {
          transform: rotate(-5deg);
        }
      }
      &:last-child {
        a {
          transform: rotate(5deg);
        }
      }
    }
  }
}

.modal-body {
  overflow: hidden;
}

h4 {
  font-weight: normal;
}

.upload-drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  border: 5px dotted $color-primary;
  height: 10rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: $color-primary;
}
