<div class="page-content">
  <div *ngIf="!addKind" class="container-fluid">
    <ul class="choose-kind / list-unstyled">
      <li [title]="'common.dress' | translate">
        <a routerLink="/pridat-tovar/oblecenie">
          <i class="oo-icon oo-icon--dress" aria-hidden="true"></i>
          <span>{{ 'common.dress' | translate }}</span>
        </a>
      </li>
      <li [title]="'common.shoes' | translate">
        <a routerLink="/pridat-tovar/obuv">
          <i class="oo-icon oo-icon--shoe" aria-hidden="true"></i>
          <span>{{ 'common.shoes' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Pridat oblecenie -->
  <ng-container *ngIf="addKind == articleKind.dress">
    <form
      *ngIf="preKoho$ | async as preKoho; else loading"
      (ngSubmit)="onSubmit()"
      novalidate
      class="form-one-column"
    >
      <div class="container">
        <!-- Steps -->
        <!-- !addOblecenieForm.get('zaradenie').valid -->
        <div class="step-menu-items row / my-4">
          <a [class]="formStep === 1 ? 'active' : ''" (click)="changeStep(1)">
            <span>1</span>
            <!-- <span><mat-icon>check</mat-icon></span> -->
            {{
              'component.article.add.stepMenuItems.description' | translate
            }}</a
          >
          <a [class]="formStep === 2 ? 'active' : ''" (click)="changeStep(2)">
            <span>2</span>
            {{ 'component.article.add.stepMenuItems.categorize' | translate }}
          </a>
          <a
            class="flex-grow-1"
            [class]="formStep === 3 ? 'active' : ''"
            (click)="changeStep(3)"
          >
            <span>3</span>
            {{ 'component.article.add.stepMenuItems.contact' | translate }}
          </a>
          <div class="text-right">
            <button
              mat-flat-button
              class="mat-button--md"
              [disabled]="!addOblecenieForm.valid"
              type="submit"
              color="primary"
            >
              {{ 'component.article.add.title' | translate }}
            </button>
          </div>
        </div>

        <!-- Step 1: Popis  -->
        <ng-container
          *ngIf="formStep === 1"
          [formGroup]="addOblecenieForm.get('popis')"
        >
          <div class="row">
            <div class="col-md-8 / px-0">
              <div class="form-group">
                <h2 class="h4">
                  {{ 'component.article.add.description.titulok' | translate }}
                  <span class="error-color">*</span>
                </h2>
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'component.article.add.description.titulokDesc' | translate
                  }}</mat-label>
                  <input matInput type="text" formControlName="titulok" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 / px-0">
              <div class="form-group">
                <h2 class="h4">
                  {{ 'component.article.add.description.cena' | translate }}
                  <mat-icon
                    class="ml-2 pointer"
                    matTooltip="{{
                      'component.article.add.description.cenaDesc' | translate
                    }}"
                    aria-label="'common.tooltipAria' | translate"
                    >help</mat-icon
                  >
                </h2>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    type="number"
                    min="0"
                    max="1000000"
                    step="0.01"
                    formControlName="cena"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group">
              <h2 class="h4">
                {{ 'component.article.add.description.popis' | translate }}
                <span class="error-color">*</span>
              </h2>

              <mat-form-field appearance="outline">
                <mat-label>{{
                  'component.article.add.description.popisDesc' | translate
                }}</mat-label>
                <textarea
                  matInput
                  type="text"
                  formControlName="popis"
                  rows="5"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group">
              <h2 class="h4">
                {{ 'component.article.add.description.foto' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.description.fotoDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <app-dnd [httpUrl]="APIuploadImage"></app-dnd>
              <!-- <div
                [fileUploadInputFor]="fileUploadQueue"
                class="upload-drop-zone"
              >
                {{ 'common.form.fields.dragAndDrop' | translate }}
              </div>
              <mat-file-upload-queue
                #fileUploadQueue
                [fileAlias]="'file'"
                [httpUrl]="APIuploadImage"
                removeAllLabel="{{
                  'common.form.fields.removeAll' | translate
                }}"
                uploadAllLabel="{{
                  'common.form.fields.uploadAll' | translate
                }}"
              >
                <mat-file-upload
                  [file]="file"
                  [id]="i"
                  (onUpload)="uploadImagesComplete($event)"
                  *ngFor="let file of fileUploadQueue.files; let i = index"
                >
                </mat-file-upload>
              </mat-file-upload-queue>
              <p class="m-0 mt-2">
                <button
                  mat-flat-button
                  color="primary"
                  (click)="uploadFileManualy.click()"
                >
                  {{ 'common.form.fields.uploadImagesManually' | translate }}
                </button>
                <input
                  #uploadFileManualy
                  id="singleFile"
                  hidden
                  multiple
                  type="file"
                  accept="image/x-png,image/gif,image/jpeg"
                  [fileUploadInputFor]="fileUploadQueue"
                />
              </p> -->
            </div>
          </div>
          <!-- Validation form -->
          <!-- <div class="row / mt-4">
            <div
              *ngIf="!addOblecenieForm.get('popis').valid"
              class="alert alert-danger / mb-4"
            >
              <mat-icon class="mr-2">report_problem</mat-icon>
              {{ 'common.form.error.invalid' | translate }}
            </div>
          </div> -->
          <div class="row / mt-4 justify-content-center">
            <button
              mat-stroked-button
              [disabled]="!addOblecenieForm.get('popis').valid"
              class="mat-button--md"
              type="submit"
              color="primary"
            >
              {{ 'common.next' | translate }}
            </button>
          </div>
        </ng-container>

        <!-- Step 2: Zaradenie -->
        <ng-container
          *ngIf="formStep === 2"
          [formGroup]="addOblecenieForm.get('zaradenie')"
        >
          <div class="row">
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.categorize.preKoho' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.dress.preKohoDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <app-select
                [options]="preKoho"
                formControlName="preKoho"
              ></app-select>
            </div>
            <div class="col-md form-group / mt-4 mt-md-0">
              <h2 class="h4">
                {{ 'component.article.add.categorize.obdobie' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.dress.obdobieDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <app-select
                [options]="obdobie$ | async"
                [type]="SelectType.Radio"
                [multiselect]="false"
                formControlName="obdobie"
              ></app-select>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.categorize.kategoria' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.dress.kategoriaDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <div class="field-dialog-select">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'common.form.fields.category' | translate
                  }}</mat-label>
                  <mat-select
                    appFormControl
                    formControlName="oblecenieKategoria"
                    required
                  >
                    <mat-option>
                      <!-- <ngx-mat-select-search
                  [placeholderLabel]="
                    'common.form.fields.search' | translate: { number: 3 }
                  "
                  [formControl]="oblecenieKategorieFilter"
                  [noEntriesFoundLabel]="
                    'common.form.fields.noSearchEntryFound' | translate
                  "
                ></ngx-mat-select-search> -->
                    </mat-option>
                    <mat-optgroup
                      *ngFor="
                        let kategoriaGroup of oblecenieKategorieFilter$ | async;
                        trackBy: trackByFn
                      "
                      [label]="kategoriaGroup.item"
                    >
                      <ng-container
                        *ngFor="
                          let kategoria of kategoriaGroup.children;
                          trackBy: trackByIdFn
                        "
                      >
                        <mat-option [value]="kategoria.id">
                          {{ kategoria.nazov }}
                        </mat-option>
                      </ng-container>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
                <button
                  mat-button
                  (click)="openCategoryFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                >
                  <mat-icon>list</mat-icon>
                </button>
              </div>
            </div>
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.categorize.znacka' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.dress.znackaDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <div class="field-dialog-select">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'component.article.add.categorize.znacka' | translate
                  }}</mat-label>
                  <mat-select appFormControl formControlName="znacka" required>
                    <mat-option>
                      <ngx-mat-select-search
                        [placeholderLabel]="
                          'common.form.fields.search' | translate: { number: 2 }
                        "
                        [formControl]="oblecenieZnackaFilter"
                        [noEntriesFoundLabel]="
                          'common.form.fields.noSearchEntryFound' | translate
                        "
                      ></ngx-mat-select-search>
                    </mat-option>
                    <ng-container
                      *ngFor="
                        let znacka of oblecenieZnackaFilter$ | async;
                        trackBy: trackByIdFn
                      "
                    >
                      <mat-option [value]="znacka.id">
                        {{ znacka.nazov }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <button
                  mat-button
                  (click)="openZnackaFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                >
                  <mat-icon>list</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.dress.prilezitost' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.dress.prilezitostDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <app-select
                [options]="prilezitost$ | async"
                formControlName="prilezitost"
              ></app-select>
            </div>
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.dress.zostrih' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.dress.zostrihDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <app-select
                [options]="zostrih$ | async"
                [type]="SelectType.Radio"
                [multiselect]="false"
                formControlName="zostrih"
              ></app-select>
              <h2 class="h4 / mt-4">
                {{ 'component.article.add.categorize.velkost' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.dress.velkostDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <div
                class="row form-group-invalidate"
                formGroupName="velkost"
                [ngClass]="{
                  'form-group-invalid': isVelkostInvalid
                }"
              >
                <app-validation
                  [formGroupRef]="
                    addOblecenieForm.get('zaradenie').get('velkost')
                  "
                ></app-validation>
                <div class="col-md form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      'component.article.add.categorize.velkost' | translate
                    }}</mat-label>
                    <mat-select formControlName="velkost">
                      <mat-option [value]="0">
                        -{{ 'common.choose' | translate }}-
                      </mat-option>
                      <ng-container
                        *ngFor="
                          let velkost of velkost$ | async;
                          trackBy: trackByIdFn
                        "
                      >
                        <mat-option [value]="velkost.id">
                          {{ velkost.label }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      'component.article.add.categorize.velkostCislo'
                        | translate
                    }}</mat-label>
                    <input
                      matInput
                      type="number"
                      formControlName="velkostCislo"
                      step="0.1"
                      min="0"
                      max="500"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.dress.styl' | translate }}
                <span class="error-color">*</span>
              </h2>
              <app-select
                [options]="styl$ | async"
                formControlName="styl"
              ></app-select>
            </div>
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.dress.zapinanie' | translate }}
                <span class="error-color">*</span>
              </h2>
              <app-select
                [options]="zapinanie$ | async"
                formControlName="zapinanie"
              ></app-select>
              <h2 class="h4 / mt-4">
                {{ 'component.article.add.categorize.stav' | translate }}
                <span class="error-color">*</span>
              </h2>
              <app-select
                [options]="stav$ | async"
                formControlName="stav"
              ></app-select>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group">
              <h2 class="h4">
                {{ 'component.article.add.categorize.material' | translate }}
                <span class="error-color">*</span>
                <mat-icon
                  class="ml-2 pointer"
                  matTooltip="{{
                    'component.article.add.dress.materialDesc' | translate
                  }}"
                  aria-label="'common.tooltipAria' | translate"
                  >help</mat-icon
                >
              </h2>
              <div class="field-dialog-select">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'common.form.fields.chooseFromList' | translate
                  }}</mat-label>
                  <textarea
                    matInput
                    type="text"
                    formControlName="materialDisplay"
                    (click)="openMaterialFilterDialog()"
                    class="cursor-pointer"
                    readonly
                    rows="2"
                  ></textarea>
                  <input
                    type="hidden"
                    formControlName="material"
                    (click)="openMaterialFilterDialog()"
                  />
                </mat-form-field>
                <button
                  mat-button
                  (click)="openMaterialFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                >
                  <mat-icon>list</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <!-- Validation form -->
          <div class="row / mt-4">
            <div
              *ngIf="!addOblecenieForm.get('zaradenie').valid"
              class="alert alert-danger / mb-4"
            >
              <mat-icon class="mr-2">report_problem</mat-icon>
              {{ 'common.form.error.invalid' | translate }}
            </div>
          </div>
          <div class="row / justify-content-center">
            <button
              mat-stroked-button
              [disabled]="!addOblecenieForm.get('zaradenie').valid"
              class="mat-button--md"
              type="submit"
              color="primary"
            >
              {{ 'common.next' | translate }}
            </button>
          </div>
        </ng-container>

        <!-- Step 3: Kontakt  -->
        <ng-container *ngIf="formStep === 3"> kontakt </ng-container>
      </div>
    </form>
    <!-- <div *ngIf="addKind == articleKind.shoes" class="modal-body">
      <form
        [formGroup]="addForm"
        (ngSubmit)="onSubmit()"
        novalidate
        class="form-one-column"
      >
        <mat-form-field>
          <input
            appFormControl
            matInput
            formControlName="email"
            type="email"
            id="email"
            maxlength="50"
            [placeholder]="'common.form.fields.email' | translate"
          />
        </mat-form-field>

        <button
          mat-flat-button
          [disabled]="addForm.invalid"
          type="submit"
          color="primary"
        >
          {{ 'common.form.fields.submit' | translate }}
        </button>
      </form>
    </div> -->
  </ng-container>
</div>

<ng-template #loading>
  <app-loader [size]="loaderSize.Large"></app-loader>
</ng-template>
