@import '~src/sass/variables';
@import '~src/sass/placeholders';

:host {
  display: block;
  width: 100%;
}

.choose-kind {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  li {
    flex: 1 1 50%;
    max-width: 35rem;
    a {
      display: block;
      text-decoration: none;
      color: $color-gray;
      span {
        display: block;
        font-size: 150%;
      }

      &,
      * {
        transition: all 0.15s ease-out;
      }
    }
    i {
      font-size: 500%;
      @include media-breakpoint-up(sm) {
        font-size: 1250%;
      }
    }

    &:hover {
      a {
        transform-origin: left;
        color: $color-primary;
        span {
          font-size: 250%;
          font-weight: bold;
        }
        i {
          font-size: 1000%;
        }
      }

      &:first-child {
        a {
          transform: rotate(-5deg);
        }
      }
      &:last-child {
        a {
          transform: rotate(5deg);
        }
      }
    }
  }
}

.modal-body {
  overflow: hidden;
}

h4 {
  font-weight: normal;
}

.upload-drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  border: 5px dotted $color-primary;
  height: 10rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: $color-primary;
}

.step-menu-items {
  display: flex;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: $color-border;
    white-space: nowrap;

    &:hover {
      color: $color-black;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 5rem;
      height: 1px;
      margin: 0 0.5rem;
      background-color: $color-border-light;
    }

    &:last-of-type {
      &::after {
        flex-grow: 1;
      }
    }

    span {
      display: inline-flex;
      width: 1.8rem;
      height: 1.8rem;
      color: white;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      background-color: $color-border-light;
      border-radius: 50%;
      margin-right: 0.25rem;
    }

    &.active {
      color: $color-black;
      span {
        background-color: $color-primary;
        color: white;
      }
    }
  }
}
