<div class="page-content">
  <div *ngIf="!addKind" class="container-fluid">
    <ul class="choose-kind / list-unstyled">
      <li [title]="'common.dress' | translate">
        <a routerLink="/pridat-tovar/oblecenie">
          <i class="oo-icon oo-icon--dress" aria-hidden="true"></i>
          <span>{{ 'common.dress' | translate }}</span>
        </a>
      </li>
      <li [title]="'common.shoes' | translate">
        <a routerLink="/pridat-tovar/obuv">
          <i class="oo-icon oo-icon--shoe" aria-hidden="true"></i>
          <span>{{ 'common.shoes' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Pridat oblecenie -->
  <ng-container *ngIf="addKind == articleKind.dress">
    <form
      *ngIf="preKoho$ | async as preKoho; else loading"
      (ngSubmit)="onSubmit()"
      novalidate
      class="form-one-column"
    >
      <div class="container">
        <button (click)="debug()">debug FORM</button>
        <button (click)="loadForm()">load FORM</button>
        <!-- Steps -->
        <div class="step-menu-items row / my-4">
          <a [class]="formStep === 1 ? 'active' : ''" (click)="changeStep(1)">
            <span *ngIf="!addOblecenieForm.get('popis').valid">1</span>
            <span *ngIf="addOblecenieForm.get('popis').valid" class="valid"
              ><mat-icon>check</mat-icon></span
            >
            {{
              'component.article.add.stepMenuItems.description' | translate
            }}</a
          >
          <a [class]="formStep === 2 ? 'active' : ''" (click)="changeStep(2)">
            <span *ngIf="!addOblecenieForm.get('zaradenie').valid">2</span>
            <span *ngIf="addOblecenieForm.get('zaradenie').valid" class="valid"
              ><mat-icon>check</mat-icon></span
            >
            {{ 'component.article.add.stepMenuItems.categorize' | translate }}
          </a>
          <a
            class="flex-grow-1"
            [class]="formStep === 3 ? 'active' : ''"
            (click)="changeStep(3)"
          >
            <span *ngIf="!identityService.isLogged">3</span>
            <span *ngIf="identityService.isLogged" class="valid"
              ><mat-icon>check</mat-icon></span
            >
            {{ 'component.article.add.stepMenuItems.contact' | translate }}
          </a>
          <div class="text-right">
            <button
              mat-flat-button
              class="mat-button--md"
              [disabled]="!addOblecenieForm.valid"
              type="submit"
              color="primary"
            >
              {{ 'component.article.add.title' | translate }}
            </button>
          </div>
        </div>

        <!-- Step 1: Popis  -->
        <ng-container
          *ngIf="formStep === 1"
          [formGroup]="addOblecenieFormPopis"
        >
          <div class="row">
            <div class="col-md-8 / px-0">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'component.article.add.description.titulok' | translate
                  }}</mat-label>
                  <input matInput type="text" formControlName="titulok" />
                  <mat-hint
                    >{{
                      'component.article.add.description.titulokDesc'
                        | translate
                    }}
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 / px-0">
              <div class="form-group">
                <h2 class="h4">
                  {{ 'component.article.add.description.cena' | translate }}
                  <mat-icon
                    class="ml-2 cursor-help"
                    matTooltip="{{
                      'component.article.add.description.cenaDesc' | translate
                    }}"
                    aria-label="common.tooltipAria"
                    >help</mat-icon
                  >
                </h2>
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    type="number"
                    min="0"
                    max="1000000"
                    step="0.01"
                    formControlName="cena"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group">
              <h2 class="h4">
                {{ 'component.article.add.description.popis' | translate }}
                <span class="color-error">*</span>
              </h2>

              <mat-form-field appearance="outline">
                <mat-label>{{
                  'component.article.add.description.popisDesc' | translate
                }}</mat-label>
                <textarea
                  matInput
                  type="text"
                  formControlName="popis"
                  rows="5"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group">
              <h2 class="h4">
                {{ 'component.article.add.description.foto' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.description.fotoDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <app-dnd
                formControlName="foto"
                [context]="enumImageContext.articleDress"
                [limit]="dndLimit"
              ></app-dnd>
            </div>
          </div>
          <div class="row / my-4 justify-content-center">
            <button
              mat-stroked-button
              [disabled]="!addOblecenieForm.get('popis').valid"
              class="mat-button--md"
              type="submit"
              color="primary"
              (click)="changeStep(2)"
            >
              {{ 'common.next' | translate }}
            </button>
          </div>
        </ng-container>

        <!-- Step 2: Zaradenie -->
        <ng-container
          *ngIf="formStep === 2"
          [formGroup]="addOblecenieFormZaradenie"
        >
          <div class="row">
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.categorize.preKoho' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.dress.preKohoDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <app-select
                [options]="preKoho"
                formControlName="preKoho"
              ></app-select>
            </div>
            <div class="col-md form-group / mt-4 mt-md-0">
              <h2 class="h4">
                {{ 'component.article.add.categorize.obdobie' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.dress.obdobieDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <app-select
                [options]="obdobie$ | async"
                [type]="SelectType.Radio"
                [multiselect]="false"
                formControlName="obdobie"
              ></app-select>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.categorize.kategoria' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.dress.kategoriaDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <div class="field-dialog-select">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'common.form.fields.category' | translate
                  }}</mat-label>
                  <mat-select
                    appFormControl
                    formControlName="oblecenieKategoria"
                    required
                  >
                    <!-- <mat-option>
                      <ngx-mat-select-search
                  [placeholderLabel]="
                    'common.form.fields.search' | translate: { number: 3 }
                  "
                  [formControl]="oblecenieKategorieFilter"
                  [noEntriesFoundLabel]="
                    'common.form.fields.noSearchEntryFound' | translate
                  "
                ></ngx-mat-select-search>
                    </mat-option> -->
                    <mat-optgroup
                      *ngFor="
                        let kategoriaGroup of oblecenieKategorieFilter$ | async;
                        trackBy: trackByFn
                      "
                      [label]="kategoriaGroup.item"
                    >
                      <ng-container
                        *ngFor="
                          let kategoria of kategoriaGroup.children;
                          trackBy: trackByIdFn
                        "
                      >
                        <mat-option [value]="kategoria.id">
                          {{ kategoria.nazov }}
                        </mat-option>
                      </ng-container>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
                <button
                  mat-button
                  (click)="openCategoryFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                >
                  <mat-icon>format_list_bulleted</mat-icon>
                </button>
              </div>
            </div>
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.categorize.znacka' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.dress.znackaDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <div class="field-dialog-select">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'component.article.add.categorize.znacka' | translate
                  }}</mat-label>
                  <mat-select appFormControl formControlName="znacka" required>
                    <!-- <mat-option>
                      <ngx-mat-select-search
                        [placeholderLabel]="
                          'common.form.fields.search' | translate: { number: 2 }
                        "
                        [formControl]="oblecenieZnackaFilter"
                        [noEntriesFoundLabel]="
                          'common.form.fields.noSearchEntryFound' | translate
                        "
                      ></ngx-mat-select-search>
                    </mat-option> -->
                    <ng-container
                      *ngFor="
                        let znacka of oblecenieZnackaFilter$ | async;
                        trackBy: trackByIdFn
                      "
                    >
                      <mat-option [value]="znacka.id">
                        {{ znacka.nazov }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <button
                  mat-button
                  (click)="openZnackaFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                >
                  <mat-icon>format_list_bulleted</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.dress.prilezitost' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.dress.prilezitostDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <app-select
                [options]="prilezitost$ | async"
                formControlName="prilezitost"
              ></app-select>
            </div>
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.dress.zostrih' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.dress.zostrihDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <app-select
                [options]="zostrih$ | async"
                [type]="SelectType.Radio"
                [multiselect]="false"
                formControlName="zostrih"
              ></app-select>
              <h2 class="h4 / mt-4">
                {{ 'component.article.add.categorize.velkost' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.dress.velkostDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <div
                class="row form-group-invalidate"
                formGroupName="velkost"
                [ngClass]="{
                  'form-group-invalid': isVelkostInvalid
                }"
              >
                <app-validation
                  [formGroupRef]="addOblecenieFormZaradenieVelkost"
                ></app-validation>
                <div class="col-md form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      'component.article.add.categorize.velkost' | translate
                    }}</mat-label>
                    <mat-select formControlName="velkost">
                      <mat-option [value]="0">
                        -{{ 'common.choose' | translate }}-
                      </mat-option>
                      <ng-container
                        *ngFor="
                          let velkost of velkost$ | async;
                          trackBy: trackByIdFn
                        "
                      >
                        <mat-option [value]="velkost.id">
                          {{ velkost.label }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      'component.article.add.categorize.velkostCislo'
                        | translate
                    }}</mat-label>
                    <input
                      matInput
                      type="number"
                      formControlName="velkostCislo"
                      step="0.1"
                      min="0"
                      max="500"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.dress.styl' | translate }}
                <span class="color-error">*</span>
              </h2>
              <app-select
                [options]="styl$ | async"
                formControlName="styl"
              ></app-select>
            </div>
            <div class="col-md form-group">
              <h2 class="h4">
                {{ 'component.article.add.dress.zapinanie' | translate }}
                <span class="color-error">*</span>
              </h2>
              <app-select
                [options]="zapinanie$ | async"
                formControlName="zapinanie"
              ></app-select>
              <hr />
              <h2 class="h4 / mt-4">
                {{ 'component.article.add.categorize.stav' | translate }}
                <span class="color-error">*</span>
              </h2>
              <app-select
                [options]="stav$ | async"
                formControlName="stav"
              ></app-select>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group">
              <h2 class="h4">
                {{ 'component.article.add.categorize.material' | translate }}
                <span class="color-error">*</span>
                <mat-icon
                  class="ml-2 cursor-help"
                  matTooltip="{{
                    'component.article.add.dress.materialDesc' | translate
                  }}"
                  aria-label="common.tooltipAria"
                  >help</mat-icon
                >
              </h2>
              <div class="field-dialog-select">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'common.form.fields.chooseFromList' | translate
                  }}</mat-label>
                  <textarea
                    matInput
                    type="text"
                    formControlName="materialDisplay"
                    (click)="openMaterialFilterDialog()"
                    class="cursor-pointer"
                    readonly
                    rows="2"
                  ></textarea>
                  <input
                    type="hidden"
                    formControlName="material"
                    (click)="openMaterialFilterDialog()"
                  />
                </mat-form-field>
                <button
                  mat-button
                  (click)="openMaterialFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                >
                  <mat-icon>format_list_bulleted</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row / my-4 justify-content-center">
            <button
              mat-stroked-button
              [disabled]="!addOblecenieForm.get('zaradenie').valid"
              class="mat-button--md"
              type="submit"
              color="primary"
              (click)="changeStep(3)"
            >
              {{ 'common.next' | translate }}
            </button>
          </div>
        </ng-container>

        <!-- Step 3: Kontakt  -->
        <ng-container *ngIf="formStep === 3">
          <!-- Logged -->
          <div *ngIf="identityService.isLogged" class="row">
            <div class="col-md">
              <div class="d-flex align-items-center / mb-3">
                <mat-icon class="big-success">face</mat-icon>
                <div class="ml-3">
                  <h2 class="h4">
                    {{ 'component.article.add.contact.logged' | translate }}
                  </h2>
                  <p class="mb-0" *ngIf="identityService.identity.name">
                    <strong
                      >{{ identityService.identity.name }}
                      {{ identityService.identity.surname }}</strong
                    >
                  </p>
                  <p class="mb-0">
                    {{ identityService.identity.email }}
                  </p>
                </div>
              </div>
              <p>
                {{ 'component.article.add.contact.info' | translate }}
                <strong
                  >{{ identityService.identity.name }}
                  {{ identityService.identity.surname }}</strong
                >
              </p>
            </div>
          </div>
          <!-- Not logged -->
          <div *ngIf="!identityService.isLogged" class="row">
            <div class="col-md">
              <div class="d-flex align-items-center">
                <mat-icon class="big-disabled">person_search</mat-icon>
                <div class="ml-3">
                  <button
                    mat-stroked-button
                    class="mat-button--md"
                    type="submit"
                    color="primary"
                    (click)="changeStep(3)"
                  >
                    {{ 'component.article.add.contact.notLogged' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
    <!-- <div *ngIf="addKind == articleKind.shoes" class="modal-body">
      <form
        [formGroup]="addForm"
        (ngSubmit)="onSubmit()"
        novalidate
        class="form-one-column"
      >
        <mat-form-field>
          <input
            appFormControl
            matInput
            formControlName="email"
            type="email"
            id="email"
            maxlength="50"
            [placeholder]="'common.form.fields.email' | translate"
          />
        </mat-form-field>

        <button
          mat-flat-button
          [disabled]="addForm.invalid"
          type="submit"
          color="primary"
        >
          {{ 'common.form.fields.submit' | translate }}
        </button>
      </form>
    </div> -->
  </ng-container>
</div>

<ng-template #loading>
  <app-loader [size]="loaderSize.Large"></app-loader>
</ng-template>
