<div class="page-content">
  <div *ngIf="!addKind" class="container-fluid">
    <ul class="choose-kind / list-unstyled">
      <li [title]="'common.dress' | translate">
        <a routerLink="/pridat-tovar/oblecenie">
          <i class="oo-icon oo-icon--dress" aria-hidden="true"></i>
          <span>{{ 'common.dress' | translate }}</span>
        </a>
      </li>
      <li [title]="'common.shoes' | translate">
        <a routerLink="/pridat-tovar/obuv">
          <i class="oo-icon oo-icon--shoe" aria-hidden="true"></i>
          <span>{{ 'common.shoes' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Pridat oblecenie -->
  <ng-container *ngIf="addKind == articleKind.dress">
    <form
      *ngIf="whom$ | async as whom; else loading"
      (ngSubmit)="onSubmit()"
      novalidate
      class="form-one-column"
    >
      <div class="container">
        <button type="button" (click)="debug()">debug FORM</button>
        <button type="button" (click)="loadForm()">load FORM</button>
        <!-- Steps -->
        <div class="step-menu-items row / my-4">
          <a [class]="formStep === 1 ? 'active' : ''" (click)="changeStep(1)">
            <span *ngIf="!addOblecenieForm.get('description').valid">1</span>
            <span
              *ngIf="addOblecenieForm.get('description').valid"
              class="valid"
              ><mat-icon>check</mat-icon></span
            >
            {{
              'component.article.add.stepMenuItems.description' | translate
            }}</a
          >
          <a [class]="formStep === 2 ? 'active' : ''" (click)="changeStep(2)">
            <span *ngIf="!addOblecenieForm.get('categorize').valid">2</span>
            <span *ngIf="addOblecenieForm.get('categorize').valid" class="valid"
              ><mat-icon>check</mat-icon></span
            >
            {{ 'component.article.add.stepMenuItems.categorize' | translate }}
          </a>
          <a
            class="flex-grow-1"
            [class]="formStep === 3 ? 'active' : ''"
            (click)="changeStep(3)"
          >
            <span *ngIf="!identityService.isLogged">3</span>
            <span *ngIf="identityService.isLogged" class="valid"
              ><mat-icon>check</mat-icon></span
            >
            {{ 'component.article.add.stepMenuItems.contact' | translate }}
          </a>
          <div class="text-right">
            <button
              mat-flat-button
              class="mat-button--md"
              [disabled]="!addOblecenieForm.valid"
              type="submit"
              color="primary"
            >
              {{ 'common.form.fields.submit-add' | translate }}
            </button>
          </div>
        </div>

        <!-- Step 1: Popis  -->
        <ng-container
          *ngIf="formStep === 1"
          [formGroup]="addOblecenieFormPopis"
        >
          <div class="row">
            <div class="col-md-8 / px-0">
              <div class="form-group form-group--white">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'component.article.add.description.title' | translate
                  }}</mat-label>
                  <input
                    matInput
                    type="text"
                    maxlength="65"
                    formControlName="title"
                  />
                  <mat-hint
                    >{{
                      'component.article.add.description.titleDesc' | translate
                    }}
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 / px-0">
              <div class="form-group form-group--white">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'component.article.add.description.price' | translate
                  }}</mat-label>
                  <input
                    matInput
                    type="number"
                    min="0"
                    max="1000000"
                    step="0.01"
                    formControlName="price"
                  />
                  <mat-hint>{{
                    'component.article.add.description.priceDesc' | translate
                  }}</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group form-group--white">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  'component.article.add.description.description' | translate
                }}</mat-label>
                <textarea
                  matInput
                  maxlength="1256"
                  formControlName="description"
                  rows="5"
                ></textarea>
                <mat-hint>{{
                  'component.article.add.description.descriptionDesc'
                    | translate
                }}</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group form-group--white">
              <mat-form-field>
                <mat-label>{{
                  'component.article.add.description.photo' | translate
                }}</mat-label>
                <!-- v reale sa vobec nepouziva -->
                <input matInput type="text" name="_dummy" />
                <app-dnd
                  formControlName="photo"
                  [context]="enumImageContext.articleDress"
                  [limit]="dndLimit"
                ></app-dnd>
                <mat-hint>{{
                  'component.article.add.description.photoDesc' | translate
                }}</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row / my-4 justify-content-center">
            <button
              mat-stroked-button
              [disabled]="!addOblecenieForm.get('description').valid"
              class="mat-button--md"
              type="submit"
              color="primary"
              (click)="changeStep(2)"
            >
              {{ 'common.next' | translate }}
            </button>
          </div>
        </ng-container>

        <!-- Step 2: Zaradenie -->
        <ng-container
          *ngIf="formStep === 2"
          [formGroup]="addOblecenieFormZaradenie"
        >
          <div class="row">
            <div class="col-md form-group form-group--white">
              <h2 class="h4">
                {{ 'component.article.add.categorize.whom' | translate }}
                <span class="color-error">*</span>
              </h2>
              <mat-form-field class="form-field-no-space">
                <input matInput type="text" name="_dummy" />
                <app-select
                  [options]="whom"
                  formControlName="whom"
                ></app-select>
                <mat-hint>{{
                  'component.article.add.dress.whomDesc' | translate
                }}</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md form-group form-group--white / mt-4 mt-md-0">
              <h2 class="h4">
                {{ 'component.article.add.categorize.season' | translate }}
                <span class="color-error">*</span>
              </h2>
              <mat-form-field class="form-field-no-space">
                <input matInput type="text" name="_dummy" />
                <app-select
                  [options]="season$ | async"
                  [type]="SelectType.Radio"
                  [multiselect]="false"
                  formControlName="season"
                ></app-select>
                <mat-hint>{{
                  'component.article.add.dress.seasonDesc' | translate
                }}</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group form-group--white">
              <h2 class="h4">
                {{ 'component.article.add.categorize.category' | translate }}
                <span class="color-error">*</span>
              </h2>
              <div class="d-flex">
                <mat-form-field class="flex-grow-1">
                  <mat-label>{{
                    'common.form.fields.chooseFromList' | translate
                  }}</mat-label>
                  <div class="field-dialog-select">
                    <mat-select
                      appFormControl
                      formControlName="dressCategory"
                      required
                    >
                      <!-- <mat-option>
                        <ngx-mat-select-search
                    [placeholderLabel]="
                      'common.form.fields.search' | translate: { number: 3 }
                    "
                    [formControl]="oblecenieCategoriesFilter"
                    [noEntriesFoundLabel]="
                      'common.form.fields.noSearchEntryFound' | translate
                    "
                  ></ngx-mat-select-search>
                      </mat-option> -->
                      <mat-optgroup
                        *ngFor="
                          let categoryGroup of oblecenieCategoriesFilter$
                            | async;
                          trackBy: trackByFn
                        "
                        [label]="categoryGroup.item"
                      >
                        <ng-container
                          *ngFor="
                            let category of categoryGroup.children;
                            trackBy: trackByIdFn
                          "
                        >
                          <mat-option [value]="category.id">
                            {{ category.title }}
                          </mat-option>
                        </ng-container>
                      </mat-optgroup>
                    </mat-select>
                  </div>
                  <mat-hint>
                    {{ 'component.article.add.dress.categoryDesc' | translate }}
                  </mat-hint>
                </mat-form-field>
                <button
                  mat-button
                  (click)="openCategoryFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                  type="button"
                >
                  <mat-icon>format_list_bulleted</mat-icon>
                </button>
              </div>
            </div>
            <div class="col-md form-group form-group--white">
              <h2 class="h4">
                {{ 'component.article.add.categorize.brand' | translate }}
                <span class="color-error">*</span>
              </h2>
              <div class="d-flex">
                <mat-form-field class="flex-grow-1">
                  <mat-label>{{
                    'common.form.fields.chooseFromList' | translate
                  }}</mat-label>
                  <div class="field-dialog-select">
                    <mat-select appFormControl formControlName="brand" required>
                      <!-- <mat-option>
                      <ngx-mat-select-search
                        [placeholderLabel]="
                          'common.form.fields.search' | translate: { number: 2 }
                        "
                        [formControl]="oblecenieBrandFilter"
                        [noEntriesFoundLabel]="
                          'common.form.fields.noSearchEntryFound' | translate
                        "
                      ></ngx-mat-select-search>
                    </mat-option> -->
                      <ng-container
                        *ngFor="
                          let brand of oblecenieBrandFilter$ | async;
                          trackBy: trackByIdFn
                        "
                      >
                        <mat-option [value]="brand.id">
                          {{ brand.title }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </div>
                  <mat-hint>
                    {{ 'component.article.add.dress.brandDesc' | translate }}
                  </mat-hint>
                </mat-form-field>
                <button
                  mat-button
                  (click)="openBrandFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                  type="button"
                >
                  <mat-icon>format_list_bulleted</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group form-group--white">
              <h2 class="h4">
                {{ 'component.article.add.dress.occasion' | translate }}
                <span class="color-error">*</span>
              </h2>
              <mat-form-field class="form-field-no-space">
                <input matInput type="text" name="_dummy" />
                <app-select
                  [options]="occasion$ | async"
                  formControlName="occasion"
                ></app-select>
                <mat-hint>{{
                  'component.article.add.dress.occasionDesc' | translate
                }}</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md form-group form-group--white">
              <h2 class="h4">
                {{ 'component.article.add.dress.cut' | translate }}
                <span class="color-error">*</span>
              </h2>
              <mat-form-field class="form-field-no-space">
                <input matInput type="text" name="_dummy" />
                <app-select
                  [options]="cut$ | async"
                  [type]="SelectType.Radio"
                  [multiselect]="false"
                  formControlName="cut"
                ></app-select>
                <mat-hint>{{
                  'component.article.add.dress.cutDesc' | translate
                }}</mat-hint>
              </mat-form-field>

              <h2 class="h4 / mt-5">
                {{ 'component.article.add.categorize.size' | translate }}
                <span class="color-error">*</span>
              </h2>

              <div class="row">
                <div class="col-md form-group">
                  <div
                    class="row form-group-invalidate"
                    formGroupName="size"
                    [ngClass]="{
                      'form-group-invalid': isSizeInvalid
                    }"
                  >
                    <app-validation
                      [formGroupRef]="addOblecenieFormZaradenieSize"
                    ></app-validation>
                    <div class="col-md">
                      <mat-form-field>
                        <mat-label>{{
                          'component.article.add.categorize.size' | translate
                        }}</mat-label>
                        <mat-select matInput formControlName="size">
                          <mat-option [value]="0">
                            -{{ 'common.choose' | translate }}-
                          </mat-option>
                          <ng-container
                            *ngFor="
                              let size of size$ | async;
                              trackBy: trackByIdFn
                            "
                          >
                            <mat-option [value]="size.id">
                              {{ size.label }}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md">
                      <mat-form-field>
                        <mat-label>{{
                          'component.article.add.categorize.sizeNum' | translate
                        }}</mat-label>
                        <input
                          matInput
                          type="number"
                          formControlName="sizeNum"
                          step="0.1"
                          min="0"
                          max="500"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="mat-hint-custom">
                    {{ 'component.article.add.dress.sizeDesc' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col-md form-group form-group--white">
              <h2 class="h4">
                {{ 'component.article.add.dress.style' | translate }}
                <span class="color-error">*</span>
              </h2>
              <app-select
                [options]="style$ | async"
                formControlName="style"
              ></app-select>
            </div>
            <div class="col-md form-group form-group--white">
              <h2 class="h4">
                {{ 'component.article.add.dress.fastening' | translate }}
                <span class="color-error">*</span>
              </h2>
              <app-select
                [options]="fastening$ | async"
                formControlName="fastening"
              ></app-select>
              <hr />
              <h2 class="h4 / mt-4">
                {{ 'component.article.add.categorize.state' | translate }}
                <span class="color-error">*</span>
              </h2>
              <app-select
                [options]="state$ | async"
                formControlName="state"
              ></app-select>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group form-group--white">
              <h2 class="h4">
                {{ 'component.article.add.categorize.material' | translate }}
              </h2>
              <div class="d-flex">
                <mat-form-field appearance="outline" class="flex-grow-1 pb-0">
                  <mat-label>{{
                    'common.form.fields.chooseFromList' | translate
                  }}</mat-label>
                  <div class="field-dialog-select">
                    <textarea
                      matInput
                      formControlName="materialDisplay"
                      (click)="openMaterialFilterDialog()"
                      class="cursor-pointer"
                      readonly
                      rows="2"
                    ></textarea>
                    <input
                      type="hidden"
                      formControlName="material"
                      (click)="openMaterialFilterDialog()"
                    />
                  </div>
                  <mat-hint>
                    {{ 'component.article.add.dress.materialDesc' | translate }}
                  </mat-hint>
                </mat-form-field>
                <button
                  mat-button
                  (click)="openMaterialFilterDialog()"
                  [title]="'common.modalFilter' | translate"
                  type="button"
                >
                  <mat-icon>format_list_bulleted</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row / mt-4">
            <div class="col form-group form-group--white">
              <div class="d-flex">
                <mat-form-field appearance="outline" class="flex-grow-1 pb-0">
                  <mat-label>{{
                    'common.form.fields.notes' | translate
                  }}</mat-label>
                  <div class="field-dialog-select">
                    <textarea
                      matInput
                      formControlName="notes"
                      rows="2"
                    ></textarea>
                  </div>
                  <mat-hint>
                    {{ 'common.form.fields.notesDesc' | translate }}
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row / my-4 justify-content-center">
            <button
              mat-stroked-button
              [disabled]="!addOblecenieForm.get('categorize').valid"
              class="mat-button--md"
              type="submit"
              color="primary"
              (click)="changeStep(3)"
            >
              {{ 'common.next' | translate }}
            </button>
          </div>
        </ng-container>

        <!-- Step 3: Kontakt  -->
        <ng-container *ngIf="formStep === 3">
          <!-- Logged -->
          <div *ngIf="identityService.isLogged" class="row">
            <div class="col-md">
              <div class="d-flex align-items-center / mb-3">
                <app-avatar></app-avatar>
                <div class="ml-3">
                  <h2 class="h4">
                    {{ 'component.article.add.contact.logged' | translate }}
                  </h2>
                  <p class="mb-0" *ngIf="identityService.identity.name">
                    <strong
                      >{{ identityService.identity.name }}
                      {{ identityService.identity.surname }}</strong
                    >
                  </p>
                  <p class="mb-0">
                    {{ identityService.identity.email }}
                  </p>
                </div>
              </div>
              <p>
                {{ 'component.article.add.contact.info' | translate }}
                <strong>{{
                  identityService.identity.name
                    | nickname: identityService.identity.surname
                }}</strong>
              </p>
            </div>
          </div>
          <!-- Not logged -->
          <div *ngIf="!identityService.isLogged" class="row">
            <div class="col-md">
              <div class="d-flex align-items-center">
                <app-avatar></app-avatar>
                <div class="ml-3">
                  <button
                    mat-stroked-button
                    class="mat-button--md"
                    type="button"
                    color="primary"
                    (click)="changeStep(3)"
                  >
                    {{ 'component.article.add.contact.notLogged' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
    <!-- <div *ngIf="addKind == articleKind.shoes" class="modal-body">
      <form
        [formGroup]="addForm"
        (ngSubmit)="onSubmit()"
        novalidate
        class="form-one-column"
      >
        <mat-form-field>
          <input
            appFormControl
            matInput
            formControlName="email"
            type="email"
            id="email"
            maxlength="50"
            [placeholder]="'common.form.fields.email' | translate"
          />
        </mat-form-field>

        <button
          mat-flat-button
          [disabled]="addForm.invalid"
          type="submit"
          color="primary"
        >
          {{ 'common.form.fields.submit' | translate }}
        </button>
      </form>
    </div> -->
  </ng-container>
</div>

<ng-template #loading>
  <app-loader [size]="loaderSize.Large"></app-loader>
</ng-template>
