<ngx-loading-bar color="#cc0000" [includeSpinner]="false"></ngx-loading-bar>

<app-wai-status></app-wai-status>

<aside *ngIf="flashMessages.length" class="flash-message" role="alert" aria-live="assertive" aria-atomic="true">
  <div *ngFor="let msg of flashMessages; let last = last" class="shadow-sm / alert alert-{{msg.class}}" [class.mb-0]="last">
    <span class="icon">{{msg.icon}}</span>
    <span>{{msg.message|translate}}</span>
    <time class="ml-4">{{msg.date | date:'shortTime'}}</time>
    <button (click)="removeFlashmessage(msg)" type="button" class="close / ml-2" [attr.aria-label]="'common.close'|translate">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</aside>

<router-outlet></router-outlet>

<!-- <ul>
  <li translate [translateParams]="{ count: 0 }">things</li>
  <li translate [translateParams]="{ count: 1 }">things</li>
  <li>{{'things' | translate:"{ count: 2 }"}}</li>
</ul>
<ul>
  <li translate [translateParams]="{ gender: 'female', how: 'influential' }">people</li>
  <li translate [translateParams]="{ gender: 'male', how: 'funny' }">people</li>
  <li>{{'people' | translate:"{ how: 'affectionate' }"}}</li>
</ul>

<a href="#" class="btn btn-success">Daksdkaskdskadkadsak</a> -->
