@import '~src/sass/variables';

.flash-message {
  position: absolute;
  width: calc(100% - 4%);
  top: 12vh;
  right: 2%;
  z-index: $zindex-alert;

  @include media-breakpoint-up(lg) {
    width: 60%;
  }
}

.alert {
  display: flex;
  animation: animationAlert 0.2s;

  .mat-icon {
    flex-shrink: 1;

    &.close {
      cursor: pointer;
    }
  }

  time {
    flex-shrink: 1;
  }

  span {
    flex-grow: 1;
  }
}

@keyframes animationAlert {
  0% {
    transform: translateY(-1rem);
    line-height: 0;
    opacity: 0;
    padding: 0;
  }
  100% {
    transform: translateY(0);
    line-height: 1.5;
    opacity: 1;
    padding: $alert-padding-y $alert-padding-x;
  }
}
