<ngx-loading-bar [height]="'5px'" [color]="'#cc0000'"></ngx-loading-bar>

<app-wai-status></app-wai-status>

<aside *ngIf="flashmessage.length" class="flash-message" role="alert" aria-live="assertive" aria-atomic="true">
  <div *ngFor="let msg of flashmessage; let i = index; let last = last" class="shadow-lg / alert alert-{{msg.type}}" [class.mb-0]="last">
    {{msg.message|translate}}
    <button (click)="removeFlashmessage(i)" type="button" class="close / ml-2" [attr.aria-label]="'common.close'|translate">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</aside>

<router-outlet></router-outlet>

<!-- <ul>
  <li translate [translateParams]="{ count: 0 }">things</li>
  <li translate [translateParams]="{ count: 1 }">things</li>
  <li>{{'things' | translate:"{ count: 2 }"}}</li>
</ul>
<ul>
  <li translate [translateParams]="{ gender: 'female', how: 'influential' }">people</li>
  <li translate [translateParams]="{ gender: 'male', how: 'funny' }">people</li>
  <li>{{'people' | translate:"{ how: 'affectionate' }"}}</li>
</ul>

<a href="#" class="btn btn-success">Daksdkaskdskadkadsak</a> -->
