@import '~src/sass/variables';

.flash-message {
  position: absolute;
  width: calc(100% - 4%);
  top: 12vh;
  right: 2%;
  z-index: $zindex-alert;

  @include media-breakpoint-up(lg) {
    width: 60%;
  }
}

.alert {
  display: flex;

  span:first-child {
    flex-shrink: 1;
    padding-right: $alert-padding-x / 2;

    + span {
      flex-grow: 1;

      + span {
        white-space: nowrap;
      }
    }
  }
}
