<div class="modal-header">
  <h1 mat-dialog-title class="modal-title / pull-left">
    {{ 'component.user-login.title' | translate }}
  </h1>
  <button mat-button mat-dialog-close class="close">
    <mat-icon mat-dialog-close [attr.aria-label]="'common.close' | translate"
      >close</mat-icon
    >
  </button>
</div>

<mat-dialog-content>
  <div class="modal-body">
    <p class="lead / mb-4">{{ 'component.user-login.perex' | translate }}</p>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      novalidate
      class="form-one-row"
    >
      <mat-form-field>
        <input
          appFormControl
          matInput
          formControlName="email"
          type="email"
          id="email"
          maxlength="50"
          required
          [placeholder]="'common.form.fields.email' | translate"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          appFormControl
          matInput
          formControlName="password"
          type="password"
          id="password"
          maxlength="50"
          required
          [placeholder]="'common.form.fields.password' | translate"
        />
      </mat-form-field>
      <mat-form-field *ngIf="(roles$ | async) as roles; else loading">
        <mat-label>{{ 'common.form.fields.role' | translate }}</mat-label>
        <mat-select appFormControl formControlName="role" required>
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{ role.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="confirmationError" class="alert alert-info">
        <mat-icon>info</mat-icon>
        {{ 'component.user-login.confirm1' | translate }}
        <a appVoidLink (click)="sendConfirmation()">{{
          'component.user-login.confirm2' | translate
        }}</a>
      </div>
      <div *ngIf="badCredentials" class="alert alert-info">
        <mat-icon class="mr-1">info</mat-icon>
        <a appVoidLink (click)="forgotPassword()">{{
          'component.user-forgotten.title' | translate
        }}</a>
      </div>
      <button
        mat-raised-button
        [disabled]="loginForm.invalid"
        type="submit"
        color="primary"
      >
        {{ 'common.form.fields.submit-login' | translate }}
      </button>
    </form>
  </div>
</mat-dialog-content>

<ng-template #loading>
  <mat-spinner [diameter]="'22'"></mat-spinner>
</ng-template>
