<div class="modal-header">
  <h1 mat-dialog-title class="modal-title / pull-left">
    {{ 'component.user-login.title' | translate }}
  </h1>
  <button mat-button mat-dialog-close class="close">
    <mat-icon mat-dialog-close [attr.aria-label]="'common.close' | translate"
      >close</mat-icon
    >
  </button>
</div>

<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  novalidate
  class="form-one-column"
>
  <mat-dialog-content>
    <div class="modal-body">
      <div *ngIf="confirmationError" class="alert alert-info">
        <mat-icon>info</mat-icon>
        {{ 'component.user-login.confirm1' | translate }}
        <a appVoidLink (click)="sendConfirmation()">{{
          'component.user-login.confirm2' | translate
        }}</a>
      </div>
    </div>

    <div class="modal-body / d-flex flex-column py-0">
      <button
        type="button"
        mat-flat-button
        color="primary"
        class="text-left mb-2 / mat-button--md"
        (click)="socialPrepareSign(userProvider.Facebook)"
      >
        <app-svg [type]="SvgName.Facebook"></app-svg>
        {{ 'component.user-login.facebook' | translate }}
      </button>
      <button
        type="button"
        mat-stroked-button
        class="text-left / mat-button--md"
        (click)="socialPrepareSign(userProvider.Google)"
      >
        <app-svg [type]="SvgName.Google"></app-svg>
        {{ 'component.user-login.google' | translate }}
      </button>
    </div>

    <div class="rule">
      <hr class="width-75 m-0" />
      <span *ngIf="!socialChoosen">{{ 'common.or' | translate }}</span>
    </div>

    <div class="modal-body / py-0">
      <mat-form-field *ngIf="!socialChoosen" appearance="outline" class="mb-2">
        <mat-label>{{ 'common.form.fields.email' | translate }}</mat-label>
        <input
          appFormControl
          matInput
          formControlName="email"
          type="email"
          id="email"
          maxlength="50"
          required
        />
      </mat-form-field>
      <mat-form-field *ngIf="!socialChoosen" appearance="outline" class="mb-2">
        <mat-label>{{ 'common.form.fields.password' | translate }}</mat-label>
        <input
          appFormControl
          matInput
          formControlName="password"
          type="password"
          id="password"
          maxlength="50"
          required
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        *ngIf="roles$ | async as roles; else loading"
      >
        <mat-label>{{ 'common.form.fields.role' | translate }}</mat-label>
        <mat-select appFormControl formControlName="role" required>
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{ role.description }}
          </mat-option>
        </mat-select>
        <mat-hint>{{ 'component.user-login.roleInfo' | translate }}</mat-hint>
      </mat-form-field>

      <div class="mt-4 text-right">
        <a appVoidLink (click)="forgotPassword()">{{
          'component.header.user.forgotPassword' | translate
        }}</a>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-between mt-2">
    <button
      *ngIf="socialChoosen"
      mat-flat-button
      [disabled]="loginForm.invalid"
      type="submit"
      color="primary"
    >
      {{
        (socialChoosen == userProvider.Facebook
          ? 'component.user-login.facebook'
          : 'component.user-login.google'
        ) | translate
      }}
    </button>
    <button
      *ngIf="!socialChoosen"
      mat-flat-button
      [disabled]="loginForm.invalid"
      type="submit"
      color="primary"
    >
      {{ 'common.form.fields.submit-login' | translate }}
    </button>
    <button
      mat-stroked-button
      (click)="openRegistModal()"
      type="button"
      color="accent"
    >
      {{ 'component.header.user.regist' | translate }}
    </button>
    <!-- <button type="button" (click)="test()">TEST AUTH frontend</button>
    <button type="button
    " (click)="testEnd()">TEST AUTH backend</button> -->
    <!-- <button type="button" (click)="debug()">debug</button> -->
  </mat-dialog-actions>
</form>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
