:host {
  display: flex;
  height: 100vh;
  flex-direction: column;

  header {
    flex-shrink: 1;
  }
  article {
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow: auto;

    &.wrapper-dress {
      align-items: flex-start;
    }
  }
}
