/* Color */
.text-color {
  color: $gray-900;
}
.error-color {
  color: $red;
}

/* Sizes */
.width-75 {
  width: 75%;
}

/* Appearance */
.pointer,
.cursor-pointer {
  cursor: pointer;
}
.cursor-auto {
  cursor: auto;
}

/* Alignment */
.justify-content-space-evently {
  justify-content: space-between;
  justify-content: space-evenly;
}
