/* Color */
.color-body {
  color: $body-color;
}
.color-error {
  color: $red;
}
.color-success {
  color: var(--teal);
}
.color-primary {
  color: $color-primary;
}
.color-gray {
  color: var(--gray);
}

/* Sizes */
.width-75 {
  width: 75%;
}

/* Appearance */
.pointer,
.cursor-pointer {
  cursor: pointer;
}
.cursor-auto {
  cursor: auto;
}
.cursor-help {
  cursor: help;
}

/* Alignment */
.justify-content-space-evently {
  justify-content: space-between;
  justify-content: space-evenly;
}
