.mat-icon.close {
  min-width: auto;
}

.form-group {
  &--white {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    margin: 0 0.5rem;

    @extend %box-shadow;
  }
}

.form-group-invalid {
  background-color: rgba($color-error, 0.1);
  padding: 0.25rem 0;
  border-radius: 0.25rem;
}
