/**
 * Bootstrap redeclare variables
 */

// border
$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

// button
$btn-padding-x-lg:               3rem;

// utility spaces
$spacer: 1rem;
$spacers: (
  5: ($spacer * 2.5),
  6: ($spacer * 4),
  7: ($spacer * 6)
);

// dropdown
$dropdown-item-padding-x:           1rem;

// Inject origins
@import '~node_modules/bootstrap/scss/functions';
@import '~node_modules/bootstrap/scss/variables';


/**
 * Custom
 */

// colors
$text-color:         $body-color;
