/*******************************
 * Bootstrap redeclare variables
 */
@use '@angular/material' as mat;

$body-bg: #fafafa;
$input-bg: $body-bg;
$input-border-width: 0px;
$input-border-color: transparent;
$modal-header-padding: 0 1rem;
$headings-font-weight: normal;
$headings-margin-bottom: 0.75rem;

// border
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// button
$btn-padding-x-lg: 3rem;

// utility spaces
$spacer: 1rem;
$spacers: (
  5: (
    $spacer * 2.5,
  ),
  6: (
    $spacer * 4,
  ),
  7: (
    $spacer * 6,
  ),
);

// dropdown
$dropdown-item-padding-x: 1rem;

// Inject origins
@import '~node_modules/bootstrap/scss/functions';
@import '~node_modules/bootstrap/scss/mixins';
@import '~node_modules/bootstrap/scss/variables';

@import '@angular/material/theming';

/***************************
 * Custom
 */

// colors
$mat-custom: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #4284f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// $text-color: $body-color;
$color-bg-body: $body-bg;
$color-primary: map-get($mat-custom, 500);
$color-border-light: #d8d7d7;
$color-container: white; // #f0f0f0;
$color-container-light: #f1f1f1;
$color-error: map-get(mat.$red-palette, 500);

// zindex
$zindex-middle: 5;
$zindex-alert: 1010;
$zindex-dropdown: 1020;
$zindex-overlay: 2000;
