<div class="page-content">
  <div *ngIf="!addKind" class="container-fluid">
    <ul class="choose-kind / list-unstyled">
      <li [title]="'common.dress' | translate">
        <a routerLink="/add-article/dress">
          <i class="oo-icon oo-icon--dress" aria-hidden="true"></i>
          <span>{{ 'common.dress' | translate }}</span>
        </a>
      </li>
      <li [title]="'common.shoes' | translate">
        <a routerLink="/add-article/shoes">
          <i class="oo-icon oo-icon--shoe" aria-hidden="true"></i>
          <span>{{ 'common.shoes' | translate }}</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Pridat oblecenie -->
  <ng-container *ngIf="addKind == articleKind.dress">
    <form
      *ngIf="preKoho$ | async as preKoho; else loading"
      [formGroup]="addOblecenieForm"
      (ngSubmit)="onSubmit()"
      novalidate
      class="form-one-column"
    >
      <div class="container">
        <div class="row">
          <div class="col-md fornm-group">
            <h2 class="h4">
              {{ 'component.article.add.preKoho' | translate }}
              <span class="error-color">*</span>
              <mat-icon
                class="ml-2 pointer"
                matTooltip="{{
                  'component.article.add.preKohoDesc' | translate
                }}"
                aria-label="'common.tooltipAria' | translate"
                >help</mat-icon
              >
            </h2>
            <app-select
              [options]="preKoho"
              formControlName="preKoho"
            ></app-select>
          </div>
          <div class="col-md fornm-group / mt-4 mt-md-0">
            <h2 class="h4">
              {{ 'component.article.add.obdobie' | translate }}
              <span class="error-color">*</span>
              <mat-icon
                class="ml-2 pointer"
                matTooltip="{{
                  'component.article.add.obdobieDesc' | translate
                }}"
                aria-label="'common.tooltipAria' | translate"
                >help</mat-icon
              >
            </h2>
            <app-select
              [options]="obdobie$ | async"
              [type]="SelectType.Radio"
              [multiselect]="false"
              formControlName="obdobie"
            ></app-select>
          </div>
        </div>
        <div class="row / mt-4">
          <div class="col-md fornm-group">
            <h2 class="h4">
              {{ 'component.article.add.kategoria' | translate }}
              <span class="error-color">*</span>
              <mat-icon
                class="ml-2 pointer"
                matTooltip="{{
                  'component.article.add.dress.kategoriaDesc' | translate
                }}"
                aria-label="'common.tooltipAria' | translate"
                >help</mat-icon
              >
            </h2>
            <div class="field-dialog-select">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  'common.form.fields.category' | translate
                }}</mat-label>
                <mat-select
                  appFormControl
                  formControlName="oblecenieKategoria"
                  required
                >
                  <mat-option>
                    <ngx-mat-select-search
                      [placeholderLabel]="
                        'common.form.fields.search' | translate: { number: 3 }
                      "
                      [formControl]="oblecenieKategorieFilter"
                      [noEntriesFoundLabel]="
                        'common.form.fields.noSearchEntryFound' | translate
                      "
                    ></ngx-mat-select-search>
                  </mat-option>
                  <mat-optgroup
                    *ngFor="
                      let kategoriaGroup of oblecenieKategorieFilter$ | async;
                      trackBy: trackByFn
                    "
                    [label]="kategoriaGroup.item"
                  >
                    <ng-container
                      *ngFor="
                        let kategoria of kategoriaGroup.children;
                        trackBy: trackByIdFn
                      "
                    >
                      <mat-option [value]="kategoria.id">
                        {{ kategoria.nazov }}
                      </mat-option>
                    </ng-container>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
              <button
                mat-button
                (click)="openCategoryFilterDialog()"
                [title]="'common.modalFilter' | translate"
              >
                <mat-icon>list</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md fornm-group">
            <h2 class="h4">
              {{ 'component.article.add.znacka' | translate }}
              <span class="error-color">*</span>
              <mat-icon
                class="ml-2 pointer"
                matTooltip="{{
                  'component.article.add.dress.znackaDesc' | translate
                }}"
                aria-label="'common.tooltipAria' | translate"
                >help</mat-icon
              >
            </h2>
            <div class="field-dialog-select">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  'component.article.add.znacka' | translate
                }}</mat-label>
                <mat-select appFormControl formControlName="znacka" required>
                  <mat-option>
                    <ngx-mat-select-search
                      [placeholderLabel]="
                        'common.form.fields.search' | translate: { number: 2 }
                      "
                      [formControl]="oblecenieZnackaFilter"
                      [noEntriesFoundLabel]="
                        'common.form.fields.noSearchEntryFound' | translate
                      "
                    ></ngx-mat-select-search>
                  </mat-option>
                  <ng-container
                    *ngFor="
                      let znacka of oblecenieZnackaFilter$ | async;
                      trackBy: trackByIdFn
                    "
                  >
                    <mat-option [value]="znacka.id">
                      {{ znacka.nazov }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <button
                mat-button
                (click)="openZnackaFilterDialog()"
                [title]="'common.modalFilter' | translate"
              >
                <mat-icon>list</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="row / mt-4">
          <div class="col-md fornm-group">
            <h2 class="h4">
              {{ 'component.article.add.dress.prilezitost' | translate }}
              <span class="error-color">*</span>
              <mat-icon
                class="ml-2 pointer"
                matTooltip="{{
                  'component.article.add.dress.prilezitostDesc' | translate
                }}"
                aria-label="'common.tooltipAria' | translate"
                >help</mat-icon
              >
            </h2>
            <app-select
              [options]="prilezitost$ | async"
              formControlName="prilezitost"
            ></app-select>
          </div>
          <div class="col-md fornm-group">
            <h2 class="h4">
              {{ 'component.article.add.dress.zostrih' | translate }}
              <span class="error-color">*</span>
              <mat-icon
                class="ml-2 pointer"
                matTooltip="{{
                  'component.article.add.dress.zostrihDesc' | translate
                }}"
                aria-label="'common.tooltipAria' | translate"
                >help</mat-icon
              >
            </h2>
            <app-select
              [options]="zostrih$ | async"
              [type]="SelectType.Radio"
              [multiselect]="false"
              formControlName="zostrih"
            ></app-select>
            <h2 class="h4 / mt-4">
              {{ 'component.article.add.velkost' | translate }}
              <span class="error-color">*</span>
              <mat-icon
                class="ml-2 pointer"
                matTooltip="{{
                  'component.article.add.dress.velkostDesc' | translate
                }}"
                aria-label="'common.tooltipAria' | translate"
                >help</mat-icon
              >
            </h2>
            <div class="row" formGroupName="velkost">
              <app-validation
                [formGroupRef]="addOblecenieForm.get('velkost')"
              ></app-validation>
              <div class="col-md fornm-group">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'component.article.add.velkost' | translate
                  }}</mat-label>
                  <mat-select formControlName="velkost">
                    <mat-option [value]="0">
                      -{{ 'common.choose' | translate }}-
                    </mat-option>
                    <ng-container
                      *ngFor="
                        let velkost of velkost$ | async;
                        trackBy: trackByIdFn
                      "
                    >
                      <mat-option [value]="velkost.id">
                        {{ velkost.label }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md fornm-group">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    'component.article.add.velkostCislo' | translate
                  }}</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="velkostCislo"
                    step="0.1"
                    min="0"
                    max="500"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row / mt-4">
          <div class="col-md fornm-group">
            <h2 class="h4">
              {{ 'component.article.add.dress.styl' | translate }}
              <span class="error-color">*</span>
            </h2>
            <app-select
              [options]="styl$ | async"
              formControlName="styl"
            ></app-select>
          </div>
          <div class="col-md fornm-group">
            <h2 class="h4">
              {{ 'component.article.add.dress.zapinanie' | translate }}
              <span class="error-color">*</span>
            </h2>
            <app-select
              [options]="zapinanie$ | async"
              formControlName="zapinanie"
            ></app-select>
            <h2 class="h4 / mt-4">
              {{ 'component.article.add.stav' | translate }}
              <span class="error-color">*</span>
            </h2>
            <app-select
              [options]="stav$ | async"
              formControlName="stav"
            ></app-select>
          </div>
        </div>
        <div class="row / mt-4">
          <div class="col-md fornm-group">
            <h2 class="h4">
              {{ 'component.article.add.material' | translate }}
              <span class="error-color">*</span>
            </h2>
            <p>
              <input type="text" formControlName="material" />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              mat-flat-button
              [disabled]="addOblecenieForm.invalid"
              type="submit"
              color="primary"
            >
              {{ 'common.form.fields.submit' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- <div *ngIf="addKind == articleKind.shoes" class="modal-body">
      <form
        [formGroup]="addForm"
        (ngSubmit)="onSubmit()"
        novalidate
        class="form-one-column"
      >
        <mat-form-field>
          <input
            appFormControl
            matInput
            formControlName="email"
            type="email"
            id="email"
            maxlength="50"
            [placeholder]="'common.form.fields.email' | translate"
          />
        </mat-form-field>

        <button
          mat-flat-button
          [disabled]="addForm.invalid"
          type="submit"
          color="primary"
        >
          {{ 'common.form.fields.submit' | translate }}
        </button>
      </form>
    </div> -->
  </ng-container>
</div>

<ng-template #loading>
  <app-loader [size]="loaderSize.Large"></app-loader>
</ng-template>
