<!-- Homepage -->
<ng-container *ngIf="!title">
  <h1 class="sr-only">{{ 'core.portalTitle' | translate }}.</h1>
  <div class="container-fluid / pt-1">
    <form role="search" id="searchForm">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <button
            mat-icon-button
            color="primary"
            type="button"
            color="primary"
            class="btn btn-outline-primary btn-transparent"
            role="checkbox"
            [attr.aria-checked]="
              isActiveSearchType('ARTICLE_DRESS') ? true : false
            "
            title="{{ 'component.header.button.filterDress' | translate }}"
            aria-controls="searchForm"
            (click)="setActiveSearchType('ARTICLE_DRESS')"
            [ngClass]="{
              'btn-primary': isActiveSearchType('ARTICLE_DRESS'),
              'btn-outline-secondary': !isActiveSearchType('ARTICLE_DRESS')
            }"
          >
            <i class="oo-icon oo-icon--dress" aria-hidden="true"></i>
          </button>
        </div>
        <div class="input-group-prepend">
          <button
            mat-icon-button
            color="primary"
            type="button"
            class="btn btn-outline-primary btn-transparent"
            role="checkbox"
            [attr.aria-checked]="
              isActiveSearchType('ARTICLE_SHOES') ? true : false
            "
            title="{{ 'component.header.button.filterShoes' | translate }}"
            aria-controls="searchForm"
            (click)="setActiveSearchType('ARTICLE_SHOES')"
            [ngClass]="{
              'btn-primary': isActiveSearchType('ARTICLE_SHOES'),
              'btn-outline-secondary': !isActiveSearchType('ARTICLE_SHOES')
            }"
          >
            <i class="oo-icon oo-icon--shoe" aria-hidden="true"></i>
          </button>
        </div>
        <mat-form-field class="flex-grow-1">
          <input
            matInput
            class="form-control"
            type="search"
            placeholder="{{ 'component.header.searchPlaceholder' | translate }}"
            tabindex="1"
          />
        </mat-form-field>

        <div class="input-group-append">
          <button
            mat-icon-button
            type="button"
            class="btn btn-outline-primary btn-transparent / text-color"
            title="{{ 'component.header.button.advancedSearch' | translate }}"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <nav class="input-group-append">
          <h2 class="sr-only">
            {{ 'component.header.mainNavTitle' | translate }}.
          </h2>
          <a
            mat-icon-button
            *ngIf="identityService.logged && identityService.isSeller"
            routerLink="/add-article"
            class="btn btn-outline-primary btn-transparent / text-color / d-flex align-items-center"
            title="{{ 'component.header.button.add' | translate }}"
            ><mat-icon>add</mat-icon></a
          >
          <button
            mat-icon-button
            #menuBtn
            [matMenuTriggerFor]="menu"
            type="button"
            class="btn btn-outline-primary btn-transparent / text-color"
            title="{{ 'component.header.button.user' | translate }}"
            id="userAccountDropdown"
          >
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu" aria-labelledby="userAccountDropdown">
            <!-- Not logged -->
            <ng-container *ngIf="!identityService.logged">
              <div mat-menu-item (click)="openLoginModal()">
                <mat-icon>input</mat-icon>
                {{ 'component.header.user.login' | translate }}
              </div>
              <div mat-menu-item (click)="openRegistModal()">
                <mat-icon>person_add</mat-icon>
                {{ 'component.header.user.regist' | translate }}
              </div>
              <mat-divider></mat-divider>
              <div mat-menu-item (click)="openForgottenPasswordModal()">
                <mat-icon>person_outline</mat-icon>
                {{ 'component.header.user.forgotPassword' | translate }}
              </div>
            </ng-container>
            <!-- Logged -->
            <ng-container *ngIf="identityService.logged">
              <div mat-menu-item class="dropdown-header">
                {{ identityService.roleName }}
              </div>
              <div mat-menu-item (click)="openEditProfileModal()">
                <mat-icon>account_circle</mat-icon>
                {{ 'component.header.user.editProfile' | translate }}
              </div>
              <div mat-menu-item (click)="changeRole()">
                <mat-icon>compare_arrows</mat-icon>
                {{ 'component.header.user.switchRole' | translate }}
              </div>
              <mat-divider></mat-divider>
              <div mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                {{ 'component.header.user.logout' | translate }}
              </div>
            </ng-container>
          </mat-menu>
        </nav>
      </div>
    </form>
  </div>
</ng-container>

<!-- Page title -->
<div *ngIf="title" class="page-header">
  <div>
    <h1>
      {{ title }}
    </h1>
    <p *ngIf="subtitle" class="lead">
      {{ subtitle }}
    </p>
  </div>
  <div>
    <a
      mat-icon-button
      routerLink="/"
      class="btn btn-outline-primary btn-transparent btn-home"
      title="{{ 'core.projectTitle' | translate }}"
      ><mat-icon>home</mat-icon></a
    >
  </div>
</div>
