@import '~src/sass/variables';

.page-header {
  display: flex;
  width: 100%;
  padding: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-border-light;

  h1 {
    font-size: $h2-font-size;
    color: $color-primary;
  }
  p {
    margin-bottom: 0;
  }
  div {
    &:first-of-type {
      flex-grow: 1;
    }
    &:last-of-type {
      flex-shrink: 1;
    }
  }
}

.btn-home {
  position: relative;
  top: -0.35rem;
  width: auto;

  .mat-icon {
    font-size: 3rem;
    width: auto;
  }
}
