<!-- Homepage -->
<ng-container *ngIf="!title">
  <h1 class="sr-only">{{ 'core.portalTitle' | translate }}.</h1>
  <div class="container-fluid / pt-1">
    <form role="search" id="searchForm">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <button
            mat-icon-button
            color="primary"
            type="button"
            class="btn btn-outline-primary btn-transparent"
            role="checkbox"
            [attr.aria-checked]="
              isActiveSearchType('ARTICLE_DRESS') ? true : false
            "
            title="{{ 'component.header.button.filterDress' | translate }}"
            aria-controls="searchForm"
            (click)="setActiveSearchType('ARTICLE_DRESS')"
            [ngClass]="{
              'btn-primary': isActiveSearchType('ARTICLE_DRESS'),
              'btn-outline-secondary': !isActiveSearchType('ARTICLE_DRESS')
            }"
          >
            <i class="oo-icon oo-icon--dress" aria-hidden="true"></i>
          </button>
        </div>
        <div class="input-group-prepend">
          <button
            mat-icon-button
            color="primary"
            type="button"
            class="btn btn-outline-primary btn-transparent"
            role="checkbox"
            [attr.aria-checked]="
              isActiveSearchType('ARTICLE_SHOES') ? true : false
            "
            title="{{ 'component.header.button.filterShoes' | translate }}"
            aria-controls="searchForm"
            (click)="setActiveSearchType('ARTICLE_SHOES')"
            [ngClass]="{
              'btn-primary': isActiveSearchType('ARTICLE_SHOES'),
              'btn-outline-secondary': !isActiveSearchType('ARTICLE_SHOES')
            }"
          >
            <i class="oo-icon oo-icon--shoe" aria-hidden="true"></i>
          </button>
        </div>
        <mat-form-field class="search-field / flex-grow-1" appearance="outline">
          <mat-label>{{
            'component.header.searchPlaceholder' | translate
          }}</mat-label>
          <input matInput maxlength="75" type="search" tabindex="1" />
          <mat-icon matSuffix class="mat-icon--sm">search</mat-icon>
          <!-- <span> počet inzerátov: 18670, počet predajcov: 1265 </span> -->
        </mat-form-field>

        <div class="input-group-append">
          <button
            mat-icon-button
            color="primary"
            type="button"
            class="btn btn-outline-primary btn-transparent / color-body"
            title="{{ 'component.header.button.advancedSearch' | translate }}"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <nav class="input-group-append">
          <h2 class="sr-only">
            {{ 'component.header.mainNavTitle' | translate }}.
          </h2>
          <a
            mat-icon-button
            color="primary"
            *ngIf="
              !identityService.isLogged ||
              (identityService.isLogged && identityService.isSeller)
            "
            routerLink="/pridat-tovar"
            class="btn btn-outline-primary btn-transparent / color-body / d-flex align-items-center"
            title="{{ 'component.header.button.add' | translate }}"
            ><mat-icon>add</mat-icon></a
          >
          <button
            *ngIf="identityService.isLogged"
            mat-icon-button
            color="primary"
            #menuBtn
            [matMenuTriggerFor]="menu"
            type="button"
            class="btn btn-outline-primary btn-transparent / color-body"
            title="{{ 'component.header.button.user' | translate }}"
            id="userAccountDropdown"
          >
            <mat-icon>person</mat-icon>
          </button>
          <button
            *ngIf="!identityService.isLogged"
            mat-icon-button
            color="primary"
            type="button"
            class="btn btn-outline-primary btn-transparent / color-body"
            title="{{ 'component.header.user.login' | translate }}"
            (click)="openLoginModal()"
          >
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu" aria-labelledby="userAccountDropdown">
            <!-- Logged -->
            <ng-container>
              <div mat-menu-item disabled class="dropdown-header">
                {{ identityService.roleName }}
              </div>
              <div mat-menu-item (click)="changeRole()">
                <mat-icon>compare_arrows</mat-icon>
                {{ 'component.header.user.switchRole' | translate }}
              </div>
              <mat-divider></mat-divider>
              <div mat-menu-item (click)="openEditProfileModal()">
                <mat-icon>account_circle</mat-icon>
                {{ 'component.header.user.editProfile' | translate }}
              </div>
              <!-- <mat-divider></mat-divider> -->
              <div mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                {{ 'component.header.user.logout' | translate }}
              </div>
            </ng-container>
          </mat-menu>
        </nav>
      </div>
    </form>
  </div>
</ng-container>

<!-- Page title -->
<div *ngIf="title" class="page-header">
  <div>
    <h1>
      {{ title }}
    </h1>
    <p *ngIf="subTitle" class="lead / pr-4">
      {{ subTitle }}
    </p>
  </div>
  <div class="text-nowrap">
    <a
      *ngIf="backLink"
      mat-icon-button
      color="primary"
      [routerLink]="backLink"
      class="btn btn-outline-primary btn-transparent btn-home"
      title="{{ 'common.back' | translate }}"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    <a
      mat-icon-button
      color="primary"
      routerLink="/"
      class="btn btn-outline-primary btn-transparent btn-home"
      title="{{ 'common.home' | translate }} - {{
        'core.projectTitle' | translate
      }}"
      ><mat-icon>home</mat-icon></a
    >
  </div>
</div>
