<ng-container *ngIf="data; else loading">
  <div class="modal-header / d-block">
    <div class="d-flex">
      <h1 mat-dialog-title class="modal-title / flex-grow-1">
        <ng-container *ngIf="!data.header">{{
          'component.modalFilter.title' | translate
        }}</ng-container>
        <ng-container *ngIf="data.header">{{
          data.header | translate
        }}</ng-container>
      </h1>
      <button mat-button mat-dialog-close class="close">
        <mat-icon
          mat-dialog-close
          [attr.aria-label]="'common.close' | translate"
          >close</mat-icon
        >
      </button>
    </div>
    <div class="input-group" *ngIf="data.search">
      <mat-form-field class="flex-grow-1" appearance="outline">
        <mat-label>{{
          'common.form.fields.search'
            | translate: { number: data.minSearchLength }
        }}</mat-label>
        <input
          matInput
          type="search"
          maxlength="30"
          cdkFocusInitial
          [formControl]="filterSearchControl"
        />
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-content>
    <div class="modal-body">
      <form *ngIf="isAnyData" (ngSubmit)="onSubmit()" novalidate>
        <app-select
          [options]="dataFinal"
          [multiselect]="data.multiselect"
          [type]="data.checkType"
          [formControl]="filterControl"
        ></app-select>
      </form>
      <p
        class="text-muted"
        *ngIf="!isAnyData"
        [innerHTML]="'common.noResult' | translate: { query: searchValue }"
      ></p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="filterControl.value"
      [disabled]="!filterControl.valid"
      class="text-capitalize"
    >
      {{ 'common.accept' | translate }}
    </button>
    <button mat-flat-button mat-dialog-close class="text-capitalize ml-2">
      {{ 'common.cancel' | translate }}
    </button>
  </mat-dialog-actions>
</ng-container>

<ng-template #loading>
  <app-loader [size]="loaderSize.Large"></app-loader>
</ng-template>
