@import '~src/sass/variables';
@import '~src/sass/mixins/functions';


.container {
  max-width: rem-calc(600px);
  padding: 2rem;
  text-align: center;
  border: dashed 5px $color-primary;
  color: $color-primary;
  position: relative;
  margin: 0 auto;

  &--sm {
    display: flex;
    align-items: center;
    border-width: 2px;
    padding: .5rem;
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

:host.ng-touched.ng-invalid {
  .container {
    border-color: var(--red);
    color: var(--red);

    .mat-button-base {
      background-color: var(--red);
    }
  }
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;

  .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;
    flex-grow: 1;

    img.delete {
      margin-left: 0.5rem;
      cursor: pointer;
      align-self: flex-end;
    }
    .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
    }
    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }
    .info {
      width: 100%;
    }

    &.uploaded {
      .info {
        display: none;
      }
    }
  }

  &--uploaded {
    display: flex;
    flex-wrap: wrap;
    .single-file {
      flex-grow: 0;
      margin: 0.5rem;
      .img-prev {
        max-width: 10rem;
        max-height: 10rem;
      }
    }
  }
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
