<app-validation
  *ngIf="formControlRef"
  [formControlRef]="formControlRef"
></app-validation>

<ng-template #recursiveList let-items="items">
  <mat-radio-group *ngIf="!multiselect && (type$ | async) == selectType.Radio">
    <ng-container
      *ngTemplateOutlet="itemList; context: {items: options$ | async}"
    ></ng-container>
  </mat-radio-group>

  <ng-container
    *ngIf="
      (type$ | async) == selectType.Checkbox ||
      (type$ | async) == selectType.Toggle ||
      (type$ | async) == selectType.CheckList
    "
  >
    <ng-container
      *ngTemplateOutlet="itemList; context: {items: options$ | async}"
    ></ng-container>
  </ng-container>
</ng-template>

<ng-template #itemList let-items="items" let-child="child">
  <div *ngFor="let toggle of items" [title]="toggle.label">
    <!-- Group name -->
    <div class="h4 mt-3" *ngIf="toggle.id === null">
      {{ toggle.label }}
    </div>

    <!-- Inputs -->
    <ng-container *ngIf="toggle.id !== null">
      <!-- Radio -->
      <mat-radio-button
        *ngIf="(type$ | async) == selectType.Radio"
        [value]="toggle.id"
        [disabled]="disabled || toggle.disabled"
        (change)="toggleEvent(toggle.id, toggle.checked)"
      >
        {{ toggle.label }}
      </mat-radio-button>

      <!-- Toggle -->
      <mat-slide-toggle
        *ngIf="(type$ | async) == selectType.Toggle"
        [disabled]="disabled || toggle.disabled"
        [checked]="toggle.checked"
        (change)="toggleEvent(toggle.id, toggle.checked)"
        >{{ toggle.label }}</mat-slide-toggle
      >

      <!-- List check -->
      <mat-selection-list
        *ngIf="(type$ | async) == selectType.CheckList"
        (selectionChange)="toggleEvent(toggle.id, toggle.checked)"
      >
        <mat-list-option
          [disabled]="disabled || toggle.disabled"
          [selected]="toggle.checked"
        >
          {{ toggle.label }}
        </mat-list-option>
      </mat-selection-list>

      <!-- Checkbox -->
      <mat-checkbox
        *ngIf="(type$ | async) == selectType.Checkbox"
        [disabled]="disabled || toggle.disabled"
        [checked]="toggle.checked"
        (change)="toggleEvent(toggle.id, toggle.checked)"
        >{{ toggle.label }}</mat-checkbox
      >
    </ng-container>

    <!-- Children -->
    <div *ngIf="toggle.children && toggle.children.length > 0">
      <ng-container
        *ngTemplateOutlet="
          itemList;
          context: {items: toggle.children, child: 'ANOOO'}
        "
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-container
  *ngTemplateOutlet="recursiveList; context: {items: options$ | async}"
>
</ng-container>
