<app-validation
  *ngIf="formControlRef"
  [formControlRef]="formControlRef"
></app-validation>

<ng-template #recursiveList let-items="items">
  <ng-container
    *ngTemplateOutlet="itemList; context: { items: options$ | async }"
  ></ng-container>
</ng-template>

<ng-template #itemList let-items="items" let-child="child">
  <!-- Radio -->
  <ng-container *ngIf="(type$ | async) == selectType.Radio">
    <mat-radio-group *ngIf="(type$ | async) == selectType.Radio">
      <ng-container *ngFor="let toggle of items">
        <!-- Group name -->
        <div *ngIf="toggle.id === null" class="h4 mt-3">{{ toggle.label }}</div>
        <div
          *ngIf="toggle.id !== null"
          class="mat-selection-list mat-selection-list--radio"
        >
          <div class="mat-list-item mat-list-option">
            <mat-radio-button
              *ngIf="toggle.id !== null"
              [value]="toggle.id"
              [disabled]="disabled || toggle.disabled"
              [checked]="toggle.checked"
              (change)="toggleEvent(toggle.id, toggle.checked)"
            >
              {{ toggle.label }}
            </mat-radio-button>
          </div>
        </div>

        <!-- Children -->
        <div *ngIf="toggle.children && toggle.children.length > 0">
          <ng-container
            *ngTemplateOutlet="
              itemList;
              context: { items: toggle.children, child: 'ANOOO' }
            "
          ></ng-container>
        </div>
      </ng-container>
    </mat-radio-group>
  </ng-container>

  <!-- Not Radio -->
  <ng-container *ngIf="(type$ | async) != selectType.Radio">
    <ng-container *ngFor="let toggle of items">
      <ng-container *ngIf="!toggle.hidden">
        <!-- Group name -->
        <div class="h4 mt-3" *ngIf="toggle.id === null">
          {{ toggle.label }}
        </div>

        <!-- Inputs -->
        <ng-container *ngIf="toggle.id !== null">
          <!-- Toggle -->
          <mat-slide-toggle
            *ngIf="(type$ | async) == selectType.Toggle"
            [disabled]="disabled || toggle.disabled"
            [checked]="toggle.checked"
            (change)="toggleEvent(toggle.id, toggle.checked)"
            >{{ toggle.label }}</mat-slide-toggle
          >

          <!-- List check -->
          <mat-selection-list
            *ngIf="(type$ | async) == selectType.CheckList"
            (selectionChange)="toggleEvent(toggle.id, toggle.checked)"
          >
            <mat-list-option
              [disabled]="disabled || toggle.disabled"
              [selected]="toggle.checked"
            >
              {{ toggle.label }}
            </mat-list-option>
          </mat-selection-list>

          <!-- Checkbox -->
          <mat-checkbox
            *ngIf="(type$ | async) == selectType.Checkbox"
            [disabled]="disabled || toggle.disabled"
            [checked]="toggle.checked"
            (change)="toggleEvent(toggle.id, toggle.checked)"
            >{{ toggle.label }}</mat-checkbox
          >
        </ng-container>

        <!-- Children -->
        <div *ngIf="toggle.children && toggle.children.length > 0">
          <ng-container
            *ngTemplateOutlet="
              itemList;
              context: { items: toggle.children, child: 'ANOOO' }
            "
          ></ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-container
  *ngTemplateOutlet="recursiveList; context: { items: options$ | async }"
>
</ng-container>
