<div class="modal-header">
  <h1 mat-dialog-title class="modal-title / pull-left">
    {{ 'component.user-' + componentMode.mode + '.title' | translate }}
  </h1>
  <button mat-button mat-dialog-close class="close">
    <mat-icon mat-dialog-close [attr.aria-label]="'common.close' | translate"
      >close</mat-icon
    >
  </button>
</div>

<form
  [formGroup]="registForm"
  (ngSubmit)="onSubmit()"
  novalidate
  class="form-one-column"
>
  <mat-dialog-content>
    <div class="modal-body">
      <p class="lead / mb-4">
        {{ 'component.user-' + componentMode.mode + '.perex' | translate }}
      </p>
      <mat-form-field *ngIf="!isSocial" class="mb-2" appearance="outline">
        <mat-label>{{ 'common.form.fields.email' | translate }}</mat-label>
        <input
          appFormControl
          matInput
          formControlName="email"
          type="email"
          id="email"
          maxlength="50"
          required
        />
      </mat-form-field>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="mb-2" appearance="outline">
            <mat-label>{{ 'common.form.fields.name' | translate }}</mat-label>
            <input
              appFormControl
              matInput
              formControlName="name"
              type="text"
              id="name"
              maxlength="50"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="mb-2" appearance="outline">
            <mat-label>{{
              'common.form.fields.surname' | translate
            }}</mat-label>
            <input
              appFormControl
              matInput
              formControlName="surname"
              type="text"
              id="surname"
              maxlength="50"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field *ngIf="!isSocial" class="mb-2" appearance="outline">
            <mat-label>{{
              'common.form.fields.password' | translate
            }}</mat-label>
            <input
              appFormControl
              matInput
              formControlName="password"
              type="password"
              id="password"
              maxlength="50"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field *ngIf="!isSocial" class="mb-2" appearance="outline">
            <mat-label>{{
              'common.form.fields.confirmPassword' | translate
            }}</mat-label>
            <input
              appFormControl
              matInput
              formControlName="passwordConfirm"
              type="password"
              id="confirmPassword"
              maxlength="50"
              required
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="mt-1">
            {{ 'common.form.fields.profilePicture' | translate }}:
          </p>
          <app-dnd
            formControlName="avatar"
            [size]="enumSize.sm"
            [context]="enumImageContext.avatar"
            [limit]="1"
            [multiple]="false"
          ></app-dnd>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-flat-button
      [disabled]="registForm.invalid"
      type="submit"
      color="primary"
    >
      {{ 'common.form.fields.submit-' + componentMode.submit | translate }}
    </button>
  </mat-dialog-actions>
</form>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
