<div class="modal-header">
  <h1 mat-dialog-title class="modal-title / pull-left">
    {{ 'component.user-' + componentMode.mode + '.title' | translate }}
  </h1>
  <button mat-button mat-dialog-close class="close">
    <mat-icon mat-dialog-close [attr.aria-label]="'common.close' | translate"
      >close</mat-icon
    >
  </button>
</div>

<mat-dialog-content>
  <div class="modal-body">
    <p class="lead / mb-4">
      {{ 'component.user-' + componentMode.mode + '.perex' | translate }}
    </p>
    <form
      [formGroup]="registForm"
      (ngSubmit)="onSubmit()"
      novalidate
      class="form-one-row"
    >
      <mat-form-field>
        <input
          appFormControl
          matInput
          formControlName="email"
          type="email"
          id="email"
          maxlength="50"
          required
          [placeholder]="'common.form.fields.email' | translate"
        />
      </mat-form-field>
      <ng-container *ngIf="isEditMode">
        <mat-form-field>
          <input
            appFormControl
            matInput
            formControlName="name"
            type="text"
            id="name"
            maxlength="50"
            required
            [placeholder]="'common.form.fields.name' | translate"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            appFormControl
            matInput
            formControlName="surname"
            type="text"
            id="surname"
            maxlength="50"
            required
            [placeholder]="'common.form.fields.surname' | translate"
          />
        </mat-form-field>
      </ng-container>

      <mat-form-field>
        <input
          appFormControl
          matInput
          formControlName="password"
          type="password"
          id="password"
          maxlength="50"
          required
          [placeholder]="'common.form.fields.password' | translate"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          appFormControl
          matInput
          formControlName="passwordConfirm"
          type="password"
          id="confirmPassword"
          maxlength="50"
          required
          [placeholder]="'common.form.fields.confirmPassword' | translate"
        />
      </mat-form-field>

      <ng-container *ngIf="!isEditMode">
        <mat-form-field *ngIf="(roles$ | async) as roles; else loading">
          <mat-label>{{ 'common.form.fields.role' | translate }}</mat-label>
          <mat-select appFormControl formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.id">
              {{ role.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <button
        mat-raised-button
        [disabled]="registForm.invalid"
        type="submit"
        color="primary"
      >
        {{ 'common.form.fields.submit-' + componentMode.submit | translate }}
      </button>
    </form>
  </div>
</mat-dialog-content>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
