<div class="modal-header">
  <h1 mat-dialog-title class="modal-title / pull-left">
    {{ 'component.user-forgotten.title' | translate }}
  </h1>
  <button mat-button mat-dialog-close class="close">
    <mat-icon mat-dialog-close [attr.aria-label]="'common.close' | translate"
      >close</mat-icon
    >
  </button>
</div>

<mat-dialog-content>
  <div class="modal-body">
    <p class="lead / mb-4">
      {{ 'component.user-forgotten.perex' | translate }}
    </p>
    <form
      [formGroup]="forgottenForm"
      (ngSubmit)="onSubmit()"
      novalidate
      class="form-one-column"
    >
      <mat-form-field>
        <input
          appFormControl
          matInput
          formControlName="email"
          type="email"
          id="email"
          required
          maxlength="50"
          [placeholder]="'common.form.fields.email' | translate"
        />
      </mat-form-field>

      <div *ngIf="confirmationError" class="alert alert-info">
        <mat-icon>info</mat-icon>
        {{ 'component.user-login.confirm1' | translate }}
        <a appVoidLink (click)="sendConfirmation()">{{
          'component.user-login.confirm2' | translate
        }}</a>
      </div>

      <button
        mat-raised-button
        [disabled]="forgottenForm.invalid"
        type="submit"
        color="primary"
      >
        {{ 'common.form.fields.submit' | translate }}
      </button>
    </form>
  </div>
</mat-dialog-content>
